---
http_interactions:
- request:
    method: get
    uri: https://courttribunalfinder.service.gov.uk/search/results.json?aol=Housing+possession&postcode=SG8%200LT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"distance": 14.32, "name": "Cambridge County Court and Family Court",
        "address": {"town": "Cambridge", "address_lines": ["Cambridge County Court
        and Family Court Hearing Centre", "197 East Road"], "type": "Postal", "postcode":
        "CB1 1BA", "county": "Cambridgeshire"}, "lat": 52.2037125926829, "dx_number":
        "97650 Cambridge 3", "areas_of_law": ["Forced marriage", "Adoption", "Money
        claims", "Domestic violence", "Children", "Housing possession", "High court",
        "Bankruptcy", "Divorce"], "lon": 0.132065389149123, "number": 162, "types":
        ["Family court", "County Court"], "slug": "cambridge-county-court-and-family-court"},
        {"distance": 15.49, "name": "Bedford County Court and Family Court", "address":
        {"town": "Bedford", "address_lines": ["Bedford County Court and Family Court
        Hearing Centre", "P.O. Box 1405", "3 St Paul''s Square"], "type": "Postal",
        "postcode": "MK40 9DN", "county": "Bedfordshire"}, "lat": 52.1350290338706,
        "dx_number": "97590 Bedford 3", "areas_of_law": ["Children", "Divorce", "Domestic
        violence", "Bank[...]
